.user {
  max-width: 1450px;
  height: 140vh;
  margin: 0 auto;

  &__img {
    margin: 30px 0;
  }

  &__content {
    margin-top: 50px;
  }

  &__product {
    border: 1px solid white;
    padding: 10px 0;
    font-size: large;
    color: white;
    font-weight: 500;
    background-color: rgba(31, 5, 148, 0.973);

    &--active {
      color: black;
      background-color: rgb(239, 239, 239);
    }

    &--delete {
      background-color: bisque;
      color: black;
      width: 200px !important;
    }

    &--process {
      background-color: rgba(31, 5, 148, 0.973);
      width: 200px !important;
    }
  }

  &__delete-btn {
    outline: none !important;
    border: none !important;
    text-decoration: underline !important;
    box-shadow: none !important;
  }

  &__link {
    border: none;
    padding: 10px 20px;
    margin: 1px 0;
    width: 100%;
    text-align: start;
    &:focus {
      background-color: rgb(0, 195, 255);
    }
  }

  &__link-active {
    text-decoration: none;
    color: black;
  }

  &__spinner {
    position: absolute;
    right: 35%;
    bottom: 10px;
  }
}
.col-2 {
  margin-right: 50px;
}
